@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 30 16.67% 97.65%;
		--foreground: 24 23.81% 4.12%;

		--primary: 27.5 22.43% 41.96%;
		--primary-foreground: 0 0% 100%;

		--card: 30 16.67% 97.65%;
		--card-foreground: 24 23.81% 4.12%;

		--popover: 0 0% 100%;
		--popover-foreground: 24 23.81% 4.12%;

		--secondary: 34.29 15.56% 91.18%;
		--secondary-foreground: 30 25% 1.57%;

		--muted: 24 17.24% 94.31%;
		--muted-foreground: 0 0% 40%;

		--accent: 24 17.24% 94.31%;
		--accent-foreground: 27.5 22.43% 41.96%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 0 0% 90.2%;
		--input: 0 0% 90.2%;
		--ring: 27.5 22.43% 41.96%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 30 25% 1.57%;
		--foreground: 34.29 15.56% 91.18%;

		--primary: 27.5 22.43% 41.96%;
		--primary-foreground: 0 0% 100%;

		--card: 30 25% 1.57%;
		--card-foreground: 34.29 15.56% 91.18%;

		--popover: 30 25% 1.57%;
		--popover-foreground: 34.29 15.56% 91.18%;

		--secondary: 28.24 22.67% 14.71%;
		--secondary-foreground: 0 0% 100%;

		--muted: 30 3.45% 11.37%;
		--muted-foreground: 60 0.4% 50.78%;

		--accent: 28.24 22.67% 14.71%;
		--accent-foreground: 34.29 15.56% 91.18%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 27.5 22.43% 41.96%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
